.Card-Object{

}
.avatar{

}
.text-head{

}
.text-body{

}

@media only screen and (max-width: 600px) {
    .Card-Object{
        width:90vw;
        display:flex;
        justify-items:center;
        align-items: center;
    }
    .avatar{
        width:150px;
        height:150px;
        position:relative;
        /* left:10px; */
        margin-top: 25px;
    }
    .text-head{
        margin-top:10px;
    }
    .text-body{
        margin-right: 30px;
        margin-left: 30px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
    .Card-Object{
        width:90vw;
        display:flex;
        justify-items:center;
        align-items: center;
    }
    .avatar{
        width:150px;
        height:150px;
        /* position:relative; */
        margin-top: 25px;
    }
    .text-head{
        margin-top:10px;
    }
    .text-body{
        margin-right: 30px;
        margin-left: 30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .Card-Object{
        width:80vw;
        display:flex;
        justify-items:center;
        align-items: center;
    }
    .avatar{
        width:150px;
        height:150px;
        /* position:relative; */
        margin-top: 25px;
    }
    .text-head{
        margin-top:10px;
    }
    .text-body{
        margin-right: 30px;
        margin-left: 30px;
    }
}
@media only screen and (min-width: 992px) {
    .Card-Object{
        display:flex;
        justify-items:center;
        align-items: center;
    }
    .avatar{
        margin: 20px;
        width:150px;
        height:150px;
        position:absolute;
        left:0;
        top:20px;
    }
    .text-head{
        margin:15px;
        margin-left:135px ;
    }
    .text-body{
        width:550px;
        margin-right:40px;
        margin-left:40px;
        margin-bottom: 40px;
        position:relative;
        left:80px;
    }
}