.navbar{
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
}
/* .AboutMe{
   margin-right: 20px;

}
.ContactMe{
   margin-right: 20px;

}
.Company{
   margin-right: 20px;

}
.Projects{
   margin-right: 20px;

}
.switchy{
   margin-right: 20px;
} */
